apiVersion: apps/v1
kind: Deployment
metadata:
  name: hello-deployment  
spec:
  replicas: 1
  selector:
    matchLabels: 
      component: hello-web
  template:
    metadata:
      labels:
        component: hello-web
    spec:
      containers:
        - name: hello-web
          image: bobjwalker99/hello-containers:1.4.5
          imagePullPolicy: "Always"
          ports:
           - containerPort: 8080
             name: http-port
          env:
           - name: HELLO_SECRET_PHRASE
             valueFrom:
               secretKeyRef:
                 name: hello-secrets
                 key: homepageDisplay    
---
apiVersion: v1
kind: Service
metadata:
  name: hello-app-cluster-ip-service  
spec:
  type: ClusterIP
  selector:
    component: hello-web
  ports:
    - port: 6801
      targetPort: 8080
---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: hello-ingress-http-route
  namespace: hello
spec:
  parentRefs:
  - name: public-gateway
    namespace: traefik
  hostnames:
    - hello.bobjwalker.local
  rules:
    - backendRefs:
        - name: hello-app-cluster-ip-service  
          port: 6801 
